@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --body-font-color: rgb(0, 5, 29);
    --universal-padding: 1rem;
    --bg-color: #fff;
    --alt-font: 'Outfit', sans-serif;
    --button-color: rgb(0, 236, 39) ;
}

body
{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
}

a
{
    text-decoration: none;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--universal-padding) / 2);
}
.menu_btn
{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.pre-header
{
    background-color: rgb(0, 22, 9);
    padding: calc( var(--universal-padding) /2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.pre-header h4 {
    letter-spacing: 3px;
    font-weight: lighter;
    color: var(--bg-color);
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.logo::after
{
    content: '';
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    height: 2.2rem;
    width: 2.2rem;
    z-index: -1;
    transition: .8s ease-in-out;
    transform: rotate(45deg);
}
.logo a
{
    /* color: var(--body-font-color); */
    color: var(--body-font-color);
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 1.5rem;
}
.logo:hover:after
{
    transform: rotate(225deg);
}
.logo img
{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    margin-left: .5rem;
    cursor: pointer;
}

nav
{
    position: fixed;
    right: 0;
    top: 2.5rem;
    height: 100vh;
    width: 50%;
    z-index: 999;
    background-color: rgba(124, 124, 124, .4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}
nav.open
{
    transform: translateX(0);
}

nav ul
{
    margin-top: 4rem;
    list-style-type: none;
}
ul li
{
    padding: 2rem;
}

ul li a
{
    color: var(--bg-color);
    font-weight: bold;
    font-size: 17px;
    transition: color .2s linear;
}
ul li:hover
{
    background-color: rgb(243, 242, 242);
}
ul li:hover a
{
    color: var(--body-font-color);
}
.close_btn
{
    height: 1.5rem;
    width: 1.5rem;
    float: right;
    cursor: pointer;
    margin: 1rem;
    transition: transform .3s ease;
}
.close_btn:hover
{
    animation: hover_efx .6s ease-in .3s alternate-reverse infinite;
}
@keyframes hover_efx {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

.hero-img
{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(../Images/hero-img.jpg);
    background-size: cover;
    background-position-x: -10%;
    animation: reveal_hero_image 1.8s ease-in-out;
}

@keyframes reveal_hero_image
{
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    33.3%{
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 21%);
    }
    66.6%{
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 85%);
    }
    100%
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.hero
{
    position: relative;
    height: 100vh;
    padding-left: .5rem;
}
.hero h1
{
    color: var(--bg-color);
    font-weight: bold;
    line-height: 3.5rem;
    font-size: 3.5rem;
    margin-top: 1em;
    margin-bottom: 1.5rem;
}
.subhead
{
    font-size: 1.2rem ;
    font-weight: 400;
    line-height: 2em;
    max-width: 70%;
    font-family: var(--alt-font);
}
.subhead span
{
    position: absolute;
    animation: skew 1.2s ease-in-out forwards;
}
.subhead span:nth-child(2)
{
    animation-delay: .2;
}
.subhead span:last-child
{
    animation-delay: .5;
}
@keyframes skew {
    from{
        opacity: 0;
        transform: translateY(20px) skewY(5deg);
    }
    to{
        
    }
}

.more-info
{
    display: flex;
    padding: .5rem;
    flex-direction: column;
    position: relative;
}
.heading
{
    display: none;
}

.feature
{
    margin-bottom: 1.5rem;
    overflow-x: hidden;
    position: relative;
}
.feature img
{
    width: 30rem;
    height: max(20rem, 26rem);
    object-fit: cover;
}

.overlay
{
    position: absolute;
    top: calc(6em + 5px);
    height: max(20rem, 26rem);
    width: 100%;
    background-color:rgba(0,0,0, .4);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    opacity: 0;
    transition: opacity .3s ease-out;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.overlay span:first-child
{
    font-weight: bold;
    font-size: 18px;
}

.overlay:hover
{
    opacity: 1;
}

.overlay .overlay__title
{
    font-size: clamp(2em, 5em , 6em);
    transform: translateY(40px);
    transition: transform .4s ease-out;
    font-family: var(--alt-font);
    position: relative;
    margin-bottom: 15px;
}
.overlay .overlay__title::after
{
    position: absolute;
    content: '';
    background-color: orangered;
    height: 4px;
    width: 0%;
    bottom: 0;
    left: 0;
    border-radius: .5rem;
}
.feature_2 .overlay .overlay__title span
{
    font-size: 1em;
    color: var(--body-font-color);
}
.feature_2 .overlay .overlay__title span:first-child
{
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: -.4rem;
}
.feature_2 .overlay .overlay__title span:last-child
{
    color: orange;
}

.feature_3 .overlay .overlay__title span
{
    font-size: 1em;
    color: var(--bg-color);
}
.feature_3 .overlay .overlay__title span:first-child
{
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: -.4rem;
}
.feature_3 .overlay .overlay__title span:last-child
{
    color: crimson;
}

.overlay .price__tag_before
{
    letter-spacing: 4px;
    margin-bottom: 10px;
    transform: translateY(50px);
    
    transition: transform .45s ease-out;
}
.price__tag_before span:last-child
{
    text-decoration: 2px line-through red;
}
.overlay .price__tag
{
    letter-spacing: 4px;
    transform: translateY(60px);
    
    transition: transform .6s ease-out;
}
.overlay:hover .overlay__title
{
    transform: translateY(0);
}
.overlay:hover .price__tag_before
{
    transform: translateY(0);
}
.overlay:hover .price__tag
{
    transform: translateY(0);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
.dot
{
    height: 8px;
    width: 8px;
    background-color: orangered;
    border-radius: 50%;
    margin-right: clamp(5px, 10px, 12px);
}
.dot:first-child{
    animation: bounce1 .4s ease alternate-reverse infinite;
    animation-delay: .5s;
}
@keyframes bounce1 {
    from{

    }
    to{
        transform: translateY(5px);
    }
}
.dot:nth-child(2){
    animation: bounce2 .4s ease alternate-reverse infinite;
    animation-delay: .4s;
}
@keyframes bounce2 {
    from{

    }
    to{
        transform: translateY(5px);
    }
}
.dot:last-child{
    animation: bounce3 .4s ease alternate-reverse infinite;
    animation-delay: .8s;
}
@keyframes bounce3 {
    from{

    }
    to{
        transform: translateY(5px);
    }
}

.title
{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.desc
{
    font-size: clamp(1rem, 1.3rem, 1rem);
    font-weight: lighter;
    line-height: 2em;
}


/* ========== GALLERY SECTION ================= */
section.gallery{
    position: relative;
    display: none;
}


/* =============== MEDIA QUERIES START HERE ============== */
@media only screen and (min-width: 505px) and (max-width: 680px)
{
    .feature img {
        width: 100%;
    }
}

@media only screen and (min-width: 680px) {

    .hero
    {
        margin: 1em 5rem;
        padding-left: 0;
    }
    .subhead
    {
        max-width: 30%;
    }
    nav 
    {
        width: 40%;
    }
    .feature img
    {
        width: 100%;
    }
    .overlay
    {
        width: 100%;
    }
}

@media screen and (min-width: 738px) {
    .overlay
    {
        top: 4.3rem;
    }
}

@media only screen and (min-width: 920px) {

    .menu_btn
    {
        display: none;
    }
    .close_btn
    {
        display: none;
    }
    nav
    {
        transform: translateX(0);
        background: none;
        position: unset;
        display: block;
        height: auto;
        width: auto;
        backdrop-filter: none;
    }
    nav ul
    {
        display: flex;
        padding: 0;
        margin: 0;
        margin-right: 7em;
        margin-left: auto;
    }

    ul li 
    {
        padding: auto;
        transition: all .1s linear;
    }
    ul li:hover
    {
        background-color: transparent;
        transform: scale(.8);
    }
    ul li a
    {
        color: var(--bg-color);
        font-size: 1rem;
    }
    .hero-img
    {
        left: unset;
        right: 0;
        width: 50%;
        height: 30em;
    }
    .logo
    {
        color: var(--body-font-color);
    }
    .logo::after
    {
        background-color: crimson;
    }

    .hero h1
    {
        width: 50%;
        color: var(--body-font-color);
    }
    .subhead
    {
        width: 50%;
    }

    .feature
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        place-items: center;
    }
    .feature.left
    {
        grid-template-areas: 'left right';
    }
    .feature.left .content
    {
        text-align: left;
    }
    .feature.left img
    {
        grid-area: left;
    }
    .feature img
    {
        width: 500px;
        height: 400px;
    }
    .overlay
    {
        height: 400px;
        width: 500px;
        top: 0;
    }
    .feature_2 .overlay
    {
        left: 0;
    }
    .feature .content
    {
        text-align: right;
    }

    .heading
    {
        display: block;
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2em;
        color: var(--body-font-color);
        font-weight: bold;
    }
}

@media only screen and (min-width: 1150px)
{
    .feature .content
    {
        width: 80%;
    }
    .feature
    {
        border-top: 1px solid rgb(240, 236, 236);
        padding: 1rem 0;
    }
    .feature img 
    {
        width: 560px;
    }
    .overlay
    {
        height: 400px;
        width: 560px;
        top: 1rem;
    }
    header 
    {
        position: sticky;
        top: 0;
    }
    nav ul 
    {
        margin-right: 5em;
    }
    nav ul li
    {
        padding: 0 2rem ;
    }
    nav ul li:hover a{
        color: var(--bg-color);
        border-bottom: 2px solid var(--bg-color);
    }
    .subhead span{
        letter-spacing: 4px;
        opacity: .8;
    }
    .title
    {
        font-size: 2em;
    }
    .desc
    {
        font-size: 1.2rem;
        font-family: var(--alt-font);
        font-weight: 300;
    }

    section.gallery{
        display: block;
        height: 100vh;
        width: 100%;
        position: relative;
        padding: var(--universal-padding);
        background-color: var(--bg-color);
        padding: 1rem .5rem;
        border-top: 1px solid rgba(124, 124, 124, .4);
}
    .gallery__image_container{
        height: clamp(450px, 300px, 300px);
        width: clamp(450px, 300px, 300px);
        height: auto;
        width: 100%;
        display: inline-block;
        border-radius: .4em;
        overflow: hidden;
    }
    .gallery__image_container img{
        height: auto;
        max-width: 100%;
        object-fit: cover;
        cursor: pointer;
        -webkit-transition: all 5s ease-in;
        -moz-transition: all 5s ease-in;
        -ms-transition: all 5s ease-in;
        -o-transition: all 5s ease-in;
        transition: all 5s ease-in;
        vertical-align: middle;
    }
    .gallery_content:hover img {
        -webkit-transform:scale(1.3); /* Safari and Chrome */
        -moz-transform:scale(1.3); /* Firefox */
        -ms-transform:scale(1.3); /* IE 9 */
        -o-transform:scale(1.3); /* Opera */
        transform:scale(1.3);
    }
    .gallery__wrapper
    {
        display: grid;
        grid-template-rows: 265px 265px;
        grid-template-columns: 300px 209px 200px 200px 320px;
        gap: 5px;
    }
    .gallery_content{
        position: relative;
    }
    .gallery__overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: .4em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0,0,0, .4);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    .gallery_content:hover .gallery__overlay {
        visibility: visible;
        opacity: 1;
    }
    .gallery__overlay h5 {
        font-size: max(1.8rem, 2.4rem);
        color: var(--button-color);
        margin-top: 1.5rem;
    }
    .gallery__overlay button {
        padding: .8rem 1.5em;
        background-color: transparent;
        border: 1px solid var(--button-color) ;
        outline: none;
        border-radius: .5rem;
        color: var(--bg-color);
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 3px;
        transition: all .2s ease;
    }
    .gallery_content .gallery__overlay button:hover {
        cursor: pointer;
        background-color: var(--button-color) ;
        color: var(--body-font-color);
        font-size: 14px;
    }
    .content_1{
        grid-row: span 2;
    }
    .content_3{
        grid-column: span 2;
    }
    .content_4{
        grid-row: span 2;
    }

    .content_2 .gallery__image_container img,
    .content_3 .gallery__image_container img,
    .content_5 .gallery__image_container img,
    .content_6 .gallery__image_container img,
    .content_7 .gallery__image_container img{
        height: 265px;
        width: 100%;
    }

    .content_1 .gallery__image_container img,
    .content_4 .gallery__image_container img{
        height: 530px;
    }
    .sectional_overlay
    {
        background-color: rgba(0,0,0, .8);
        backdrop-filter:blur(4px) ;
        -webkit-backdrop-filter: blur(4px);
        position: absolute;
        z-index: 500;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        visibility: hidden;
        opacity: 0;
    }
    .full_shoe_display
    {
        /* display: none; */
        background-color: var(--bg-color);
        background-size: cover;
        background-position-x: center;
        background-position-y: 50%;
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 95%;
        width: 85%;
        padding: var(--universal-padding);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        visibility: hidden;
        opacity: 0;
    }
    .full_shoe_display .close_btn {
        display: unset;
        top: 0;
        position: absolute;
        right: 0;
        height: 2rem;
        width: 2rem;
        fill: var(--body-font-color);
        opacity: .6;
    }
    .product_on_display__image_container {
        height: max(24rem, 26rem);
        width: max(20rem, 25rem);
        display: block;
        position: relative;
        background-color: #333;
        /* opacity: .9; */
        border-radius: .5rem;
    }
    .product_details {
        position: relative;
        text-align: left;
        font-family: var(--alt-font);
    }
    .product_details h3 {
        margin-bottom: 5rem;
        text-align: left;
        font-weight: bold;
        color: var(--body-font-color);
    }
    .product_details h3:first-child
    {
        font-size: 2rem;
    }
    .product_details h3:nth-child(2)
    {
        font-size: 2rem;
    }
    .product_details h3:last-child
    {
        letter-spacing: 3px;
        font-weight: bold;
    }
    .product_details h3:last-child span
    {
        font-weight: lighter;
        color: var(--button-color);
    }

    .product_on_display__image_container img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .7;
        border-radius: .5rem;
    }

    .full_shoe_display__footer
    {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: var(--body-font-color);
        font-size: 12px;
    }
    .full_shoe_display__footer span {
        color: var(--button-color);
        font-weight: bold;
        cursor: pointer;
    }
    

}

@media only screen and (min-height: 720px) {
    .hero{
        padding-top: 2rem;
    }
    .hero-img{
        height: 38em;
    }
}