@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --body-font-color: rgb(0, 5, 29);
    --universal-padding: 1rem;
    --bg-color: #fff;
    --alt-font: 'Outfit', sans-serif;
}

body
{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
}

a
{
    text-decoration: none;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--universal-padding) / 2);
}
.menu_btn
{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.pre-header
{
    background-color: black;
    color: var(--bg-color);
    padding: calc( var(--universal-padding) /2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.logo::after
{
    content: '';
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    height: 2.2rem;
    width: 2.2rem;
    z-index: -1;
    transition: .8s ease-in-out;
    transform: rotate(45deg);
}
.logo a
{
    /* color: var(--body-font-color); */
    color: var(--body-font-color);
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 1.5rem;
}
.logo:hover:after
{
    transform: rotate(225deg);
}
.logo img
{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    margin-left: .5rem;
    cursor: pointer;
}

nav
{
    position: fixed;
    right: 0;
    top: 2.5rem;
    height: 100vh;
    width: 50%;
    z-index: 999;
    background-color: rgba(124, 124, 124, .4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}
nav.open
{
    transform: translateX(0);
}

nav ul
{
    margin-top: 4rem;
    list-style-type: none;
}
ul li
{
    padding: 2rem;
}

ul li a
{
    color: var(--bg-color);
    font-weight: bold;
    font-size: 17px;
    transition: color .2s linear;
}
ul li:hover
{
    background-color: rgb(243, 242, 242);
}
ul li:hover a
{
    color: var(--body-font-color);
}
.close_btn
{
    height: 1.5rem;
    width: 1.5rem;
    float: right;
    cursor: pointer;
    margin: 1rem;
    transition: transform .3s ease;
}
.close_btn:hover
{
    animation: hover_efx .6s ease-in .3s alternate-reverse infinite;
}
@keyframes hover_efx {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

.hero-img
{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(../Images/hero-img.jpg);
    background-size: cover;
    background-position-x: -10%;
    animation: reveal_hero_image 1.8s ease-in-out;
}

@keyframes reveal_hero_image
{
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    33.3%{
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 21%);
    }
    66.6%{
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 85%);
    }
    100%
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


.hero
{
    position: relative;
    height: 100vh;
    padding-left: .5rem;
}
.hero h1
{
    color: var(--bg-color);
    font-weight: bold;
    line-height: 3.5rem;
    font-size: 3.5rem;
    margin-top: 1em;
    margin-bottom: 1.5rem;
}
.subhead
{
    font-size: 1.2rem ;
    font-weight: 400;
    line-height: 2em;
    max-width: 70%;
    font-family: var(--alt-font);
}

.more-info
{
    display: flex;
    padding: .5rem;
    flex-direction: column;
    position: relative;
}
.heading
{
    display: none;
}

.feature
{
    margin-bottom: 1.5rem;
    overflow-x: hidden;
    position: relative;
}
.feature img
{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.overlay
{
    position: absolute;
    top: calc(6em + 5px);
    height: 500px;
    width: 500px;
    background-color:rgba(0,0,0, .4);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    opacity: 0;
    transition: opacity .3s ease-out;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
.overlay span:first-child
{
    font-weight: bold;
    font-size: 18px;
}

.overlay:hover
{
    opacity: 1;
}

.overlay .overlay__title
{
    font-size: clamp(2em, 5em , 6em);
    transform: translateY(40px);
    transition: transform .2s ease-out;
    font-family: var(--alt-font);

}
.feature_2 .overlay .overlay__title span
{
    font-size: 1em;
    color: var(--body-font-color);
}
.feature_2 .overlay .overlay__title span:first-child
{
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: -.4rem;
}
.feature_2 .overlay .overlay__title span:last-child
{
    color: orange;
}

.feature_3 .overlay .overlay__title span
{
    font-size: 1em;
    color: var(--bg-color);
}
.feature_3 .overlay .overlay__title span:first-child
{
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: -.4rem;
}
.feature_3 .overlay .overlay__title span:last-child
{
    color: crimson;
}

.overlay .price__tag_before
{
    letter-spacing: 4px;
    margin-bottom: 10px;
    transform: translateY(40px);
    
    transition: transform .45s ease-out;
}
.price__tag_before span:last-child
{
    text-decoration: 2px line-through red;
}
.overlay .price__tag
{
    letter-spacing: 4px;
    transform: translateY(40px);
    
    transition: transform .6s ease-out;
}
.overlay:hover .overlay__title
{
    transform: translateY(0);
}
.overlay:hover .price__tag_before
{
    transform: translateY(0);
}
.overlay:hover .price__tag
{
    transform: translateY(0);
}

.title
{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.desc
{
    font-size: clamp(1rem, 1.3rem, 1rem);
    font-weight: lighter;
    line-height: 2em;
}

@media only screen and (min-width: 680px) {

    .hero
    {
        margin: 1em 5rem;
        padding-left: 0;
    }
    .subhead
    {
        max-width: 30%;
    }
    nav 
    {
        width: 40%;
    }
    .feature img
    {
        width: 100%;
    }
    .overlay
    {
        width: 100%;
    }
}

@media screen and (min-width: 738px) {
    .feature
    {
        /* overflow: hidden; */
    }
    .overlay
    {
        top: 4.3rem;
        height: 498px;
    }
}

@media only screen and (min-width: 920px) {

    .menu_btn
    {
        display: none;
    }
    .close_btn
    {
        display: none;
    }
    nav
    {
        transform: translateX(0);
        background: none;
        position: unset;
        display: block;
        height: auto;
        width: auto;
        backdrop-filter: none;
    }
    nav ul
    {
        display: flex;
        padding: 0;
        margin: 0;
        margin-right: 2em;
        margin-left: auto;
    }

    ul li 
    {
        padding: auto;
        transition: all .1s linear;
    }
    ul li:hover
    {
        background-color: transparent;
        transform: scale(.8);
    }
    ul li a
    {
        color: var(--bg-color);
        font-size: 1rem;
    }
    .hero-img
    {
        left: unset;
        right: 0;
        width: 50%;
        height: 30em;
    }
    .logo
    {
        color: var(--body-font-color);
    }
    .logo::after
    {
        background-color: crimson;
    }

    .hero h1
    {
        width: 50%;
        color: var(--body-font-color);
    }
    .subhead
    {
        width: 50%;
    }

    .feature
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        place-items: center;
    }
    .feature.left
    {
        grid-template-areas: 'left right';
    }
    .feature.left .content
    {
        text-align: left;
    }
    .feature.left img
    {
        grid-area: left;
    }
    .feature img
    {
        width: 500px;
        height: 400px;
    }
    .overlay
    {
        height: 400px;
        width: 500px;
        top: 0;
    }
    .feature_2 .overlay
    {
        left: 0;
    }
    .feature .content
    {
        text-align: right;
    }

    .heading
    {
        display: block;
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2em;
        color: var(--body-font-color);
        font-weight: bold;
    }
}

@media only screen and (min-width: 1150px)
{
    .feature .content
    {
        width: 80%;
    }
    .feature
    {
        border-top: 1px solid rgb(240, 236, 236);
        padding: 1rem 0;
    }
    .feature img 
    {
        width: 560px;
    }
    .overlay
    {
        height: 400px;
        width: 560px;
        top: 1rem;
    }
    header 
    {
        position: sticky;
        top: 0;
    }
    nav ul 
    {
        margin-right: 5em;
    }
    nav ul li:hover a{
        color: var(--bg-color);
        border-bottom: 2px solid var(--bg-color);
    }
    .title
    {
        font-size: 2em;
    }
    .desc
    {
        font-size: 1.2rem;
        font-family: var(--alt-font);
        font-weight: 300;
    }
}
